@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.events {
    font-family: Helvetica;
    color: #232323;
    box-sizing: border-box;
    margin: 50px 65px;
}

.header__primary {
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
    .events {
        margin: 50px 25px;
    }

    .header__primary {
        font-size: 28px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .events {
        margin: 0;
    }

    .header__primary {
        font-size: 24px;
        line-height: 27.6px;
        margin-bottom: -40px;
    }
}

.event__info {
    background: #FFFFFF;
    padding: 45px 30px;
    gap: 10px;
    border-radius: 24px;
    margin-right: 50px;
    margin-bottom: 60px;
}

.event__info--head {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 35px;
}

.event__info--body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.event__img-box {
    flex: 0 0 40%;
}

.event__img {
    width: 100%;
    border-radius: 20px;
}

.event__details--head {
    font-size: 55px;
    font-weight: 400;
    line-height: 63px;
    color: #324162;
    margin-bottom: 3rem;
}

.event__details--body {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #697694;
    margin-bottom: 3rem;
}

.event__details--register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.register__link {
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #E1FFFE;
    background: #0AB1A9;
    padding: 8px 16px;
    border-radius: 8px;
}

.register__date {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #464343;
}

@media screen and (max-width: 1050px) {
    .event__info {
        margin-right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .event__details--head {
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    .event__info {
        padding: 4rem 30px;
        margin-bottom: -20px;
    }

    .event__info--head {
        font-size: 28px;
    }

    .event__info--body {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .event__details--head {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .event__details--body {
        font-size: 16px;
        line-height: 22.4px;
        margin: 0 2rem;
    }

    .event__img-box {
        margin: 0 2rem;
    }

    .event__img {
        width: 100%;
    }

    .event__details--register {
        margin: 0 auto;
        align-items: center;
        flex-direction: column-reverse;
    }

    .register__date {
        font-size: 16px;
        line-height: 18.4px;
        font-weight: 700;
    }

    .register__link {
        font-size: 10px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 500px) {
    .event__info--head {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }

    .event__details--body {
        font-size: 14px;
        line-height: 22.4px;
        margin: 0 2rem;
    }

    .event__details--head {
        font-size: 24px;
        line-height: 27.6px;
        margin-bottom: 10px;
    }
}


/* *******************************  F O R M ******************************* */

.event__form {
    margin: 0 auto;
    background: #ffffff;
    width: 60%;
    padding: 30px;
    gap: 21px;
    border-radius: 24px;
}

.event__form--head {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    color: #1E1E1E;
    margin-bottom: 30px;
}

.event__form--figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.event__form--figure span:nth-child(1), .event__form--figure span:nth-child(3)  {
    padding: 7.5px;
    border-radius: 50%;
    background: #3FC8C2;
}

.event__form--figure span:nth-child(2) {
    padding: 0.625px 25px;
    background: #3FC8C2;
}

.event__form--figure span:nth-child(4) {
    padding: 0.625px 25px;
    background: rgba(128, 128, 128, 0.5)
}

.event__form--figure span:nth-child(5)  {
    padding: 6.5px;
    border-radius: 50%;
    border: 1px solid grey;
}

.event__form--steps {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    color: #181818;
    margin-bottom: 20px;
}

.event__form--guide {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #575F6E;
    margin-bottom: 30px;
}

@media screen and (max-width: 1100px) {
    .event__form {
        margin: 0 auto;
        width: 80%;
    }
}


@media screen and (max-width: 900px) {
    .event__form {
        margin: 0 auto;
        width: 90%;
    }

    .event__form--head {
        font-size: 32px;
    }
}

@media screen and (max-width: 500px) {
    .event_form {
        padding: 10px;
        width: 100%;
    }

    .event__form--head {
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .event__form--figure {
        gap: 5px;
        margin-bottom: 40px;
    }

    .event__form--figure span:nth-child(1), .event__form--figure span:nth-child(3)  {
        padding: 5.5px;
    }

    .event__form--figure span:nth-child(2) {
        padding: 0.625px 20px;
    }
    
    .event__form--figure span:nth-child(4) {
        padding: 0.625px 20px;
    }
    
    .event__form--figure span:nth-child(5)  {
        padding: 4.5px;
    }

    .event__form--steps {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .event__form--guide {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
    }
}


.form__box {
    padding: 20px;
    border-radius: 16px;
    border: 1.25px solid #E2E4E5;
    margin-bottom: 25px;
}

.form__label {
    font-size: 21px;
    font-weight: 400;
    line-height: 35px;
    color: #242426;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form__input {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    width: 80%;
    padding: 3px 10px;
    border: none;
    color: #575F6E;
}

.form__input {
    border: none;
    outline: none;
}

.form__edit {
    font-size: 12.5px;
    color: #3FC8C2;
}

.form__button {
    display: block;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #0AB1A9;
    padding: 0 75px;
    border-radius: 8px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}

.dropdown p {
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.dropdown__input {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #3FC8C2;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.dropdown__input::placeholder {
    color: gray;
}

.dropdown__input:focus {
    border: none;
    outline: none;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #0000001F;
    margin-bottom: 50px;

}

.dropdown-menu label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #06110A80;
}

.dropdown-menu label input[type="checkbox"] {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    .dropdown-menu label {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .form__box {
        padding: 8px 12px;
    }

    .form__label {
        font-size: 14px;
        line-height: 20px;
    }

    .form__input {
        font-size: 14px;
        line-height: 20px;
        width: 90%;
    }
    
    .form__edit {
        font-size: 10px;
    }

    .dropdown p {
        font-size: 14px;
        line-height: 20px;
    }

    .dropdown__input {
        font-size: 14px;
        line-height: 20px;
    }
}

/* ****************************** C O N F E R E N C E ******************************* */

.event__conference {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 0 75px;
    margin-top: 100px;
}

.conference__head {
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    color: #FA815C;
    margin-bottom: 10px;
}

.conference__date {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #0AB1A9;
    margin-bottom: 10px;
}

.conference__body {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #202124;
    margin-bottom: 20px;
}

.conference__share {
    text-decoration: none;
    width: 125px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #0AB1A9;
    color: #FFFFFF;
    padding: 7.5px 20px;
}

.conference__share .sharenodes {
    font-size: 30px;
}

.conference__share span {
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
}

.event__conference--img {
    width: 445px;
    border-radius: 20px;
}

@media screen and (max-width: 1050px) {
    .event__conference {
        gap: 50px;
    }
}

@media screen and (max-width: 900px) {
    .event__conference {
        padding: 0 35px;
        flex-direction: column;
        margin-top: 30px;
    }

    .event__conference--img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .event__conference {
        padding: 0 50px;
        flex-direction: column;
        margin-top: 30px;
    }

    .conference__share {
        padding: 10px 0;
        margin-left: 5px;
    }

    .conference__share .sharenodes {
        font-size: 20px;
    }

    .conference__share span {
        font-size: 14px;
    }
}


/* *********************************  P A S T  E V E N T S ************************************ */

.event__past {
    margin-top: 100px;
}

.event__past h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    margin-bottom: 30px; 
}

.event__table {
    width: 90%;
    font-family: 'Roboto', sans-serif;
}

.tablerow {
    display: flex;
}

.table__head .tablerow {
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #464343;
    background-color: #FF9E81;
    margin-bottom: 20px;
    border-radius: 8;
}

.table__head .tablerow th:first-child {
    margin-right: auto;
}

.table__head .tablerow th:nth-child(2) {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
}

.table__head .tablerow th:last-child {
    margin-left: 70px;
}

.table__body .tablerow {
    justify-content: space-between;
    background: #FFFFFFF2;
    margin: 10px 15px;
    padding: 10px 20px;
}

.table__body .tablerow td {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 800px) {
    .event__past {
        margin-top: 60px;
    }

    .table__head .tablerow th:first-child span {
        display: none;
    }

    .table__head .tablerow th:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .event__past h3 {
        font-size: 25px;
        line-height: 28px;
    }

    .table__body .tablerow {
        justify-content: space-between;
        background: #FFFFFFF2;
        margin: 10px 0;
        padding: 0 10px;
    }
    
    .table__body .tablerow td {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }
}

/* ******************************** E V E N T  S P O N S O R ************************************ */

.event__sponsor {
    margin-top: 100px;
    color: #464343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event__sponsor h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 20px;
}

.event__sponsor img {
    text-align: center;
    width: 280px;
    height: 134px;
    margin-bottom: 40px;
}

.event__sponsor a {
    text-decoration: none;
    color: inherit;
    background: #FCD884;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

@media screen and (max-width: 800px) {
    .event__sponsor {
        margin-top: 30px;
    }

    .event__sponsor h3 {
        font-size: 30px;

    }
}

@media screen and (max-width: 500px) {
    .event__sponsor h3 {
        font-size: 20px;
        line-height: 23px;

    }

    .event__sponsor img {
        width: 160px;
        height: 65px;
    }

    .event__sponsor a {
        font-size: 13px;
        line-height: 15px;
        padding: 15px 30px;
    }
}

.valid {
    width: 400px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border: 1px solid #B7EB8F;
    border-radius: 8px;
    background: #F6FFED;
    margin: 0 auto;
    margin-top: 20px;
}



.valid span:first-child {
    font-size: 6px;
    padding: 3px 4px;
    color: white;
    background-color: #0ab129;
    border-radius: 50%;
    margin-right: 20px;
}

.valid span:last-child {
    font-size: 20px;
    cursor: pointer;
}

.valid p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    .valid {
        width: 80%;
        padding: 6px 14px;
    }
}

.error-message {
    display: block;
    margin-top: -20px;
    margin-bottom: 25px;
    color: red;
    font-size: 13px;
    margin-left: 15px;
}

.google__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    margin-top: 20px;
}

.google__link img {
    width: 38px;
}

.google__link span {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #4285F4;
}

@media screen and (max-width: 500px) {
    .google__link {
        gap: 10px;
    }

    .google__link img {
        width: 26px;
    }

    .google__link span {
        font-size: 14px;
        line-height: 16px;
    }
}