/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 55%;
    }
}

body {
    background: rgba(128, 128, 128, 0.056);
    font-family: Helvetica;
    color: #232323;
}

.events {
    margin: 5rem 6.5rem;
}

.header__primary {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.event__info {
    background: #FFFFFF;
    padding: 4.5rem 3rem;
    gap: 10px;
    border-radius: 2.4rem;
    margin-right: 5rem;
    margin-bottom: 6rem;
}

.event__info--head {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin-bottom: 3.5rem;
}

@media screen and (max-width: 500px) {
    .header__primary {
        font-size: 3.2rem;
    }

    .event__info--head {
        font-size: 2.8rem;
    }
}

.event__info--body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;
}

.event__img {
    width: 42.6rem;
    border-radius: 2rem;
}

@media screen and (max-width: 1050px) {
    .events {
        margin: 5rem 3.5rem;
    }

    .event__info {
        margin-right: 0;
    }

    .event__info--body {
        gap: 3.5rem;
    }
}

@media screen and (max-width: 800px) {
    .event__info {
        padding: 4rem 3rem;
    }

    .event__info--body {
        flex-direction: column;
        text-align: center;
        gap: 7.5rem;
    }

    .event__img {
        width: 100%;
    }
}

.event__details {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.event__details--head {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 6.3rem;
    color: #324162;
}

@media screen and (max-width: 500px) {
    .event__details--head {
        font-size: 4rem;
        line-height: 5.4rem;
    }

    .event__info--head {
        font-size: 2.8rem;
    }
}

.event__details--body {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #697694;
}

.event__details--register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}

.register__link {
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: #E1FFFE;
    background: #0AB1A9;
    padding: .8rem 1.6rem;
    border-radius: .8rem;
}

.register__date {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    color: #464343;
}

@media screen and (max-width: 800px) {
    .event__details--register {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .register__link {
        font-size: 1rem;
    }
}

.event__form {
    margin: 0 auto;
    background: #ffffff;
    width: 60%;
    padding: 3rem;
    gap: 21px;
    border-radius: 2.4rem;
}

@media screen and (max-width: 900px) {
    .event__form {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .event__form {
        width: 97.5%;
    }
}

.event__form--head {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.5rem;
    color: #1E1E1E;
    margin-bottom: 3rem;
}

.event__form--figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.event__form--figure span:nth-child(1), .event__form--figure span:nth-child(3)  {
    padding: .75rem;
    border-radius: 50%;
    background: #3FC8C2;
}

.event__form--figure span:nth-child(2) {
    padding: .0625rem 2.5rem;
    background: #3FC8C2;
}

.event__form--figure span:nth-child(4) {
    padding: .0625rem 2.5rem;
    background: grey
}

.event__form--figure span:nth-child(5)  {
    padding: .65rem;
    border-radius: 50%;
    border: 1px solid grey;
}

.event__form--steps {
    font-family: Helvetica;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: #181818;
    margin-bottom: 2rem;
}

.event__form--guide {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: #575F6E;
    margin-bottom: 3rem;
}

.form__box {
    padding: 2rem;
    border-radius: 1.6rem;
    border: .125rem solid #E2E4E5;
    margin-bottom: 2.5rem;
}

.form__label {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 3.5rem;
    color: #242426;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form__input {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.24rem;
    width: 80%;
    padding: .3rem 1rem;
    border: none;
    color: #575F6E;
}

.form__edit {
    font-size: 1.25rem;
    color: #3FC8C2;
}

.form__button {
    display: block;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.6rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #0AB1A9;
    padding: 0 7.5rem;
    border-radius: .8rem;
    border: none;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .event__form--head {
        font-size: 3rem;
    }

    .event__form--steps {
        font-size: 3rem;
    }

    .event__form--guide {
        font-size: 1.6rem;
    }

    .form__box {
        padding: 1.2rem;
    }

    .form__label {
        font-size: 1.8rem;
    }

    .form__input {
        font-size: 1.8rem;
        width: 90%;
    }
    
    .form__edit {
        font-size: 1rem;
    }
}

.event__conference {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    padding: 0 7.5rem;
    margin-top: 10rem;
}

.conference__head {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.76rem;
    color: #FA815C;
    margin-bottom: 1rem;
}

.conference__date {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: #0AB1A9;
    margin-bottom: 1rem;
}

.conference__body {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: #202124;
    margin-bottom: 2rem;
}

.conference__share {
    text-decoration: none;
    width: 12.5rem;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #0AB1A9;
    color: #FFFFFF;
    padding: .75rem 2rem;
}

.conference__share .sharenodes {
    font-size: 1.95rem;
}

.conference__share span {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
}

.event__conference--img {
    width: 44.5rem;
}

@media screen and (max-width: 1050px) {
    .event__conference {
        gap: 5rem;
    }
}

@media screen and (max-width: 900px) {
    .event__conference {
        padding: 0 2.5rem;
        flex-direction: column;
    }

    .event__conference--img {
        width: 90%;
    }
}

.event__past {
    margin-top: 10rem;
}

.event__past h3 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6rem;
    text-align: center;
    margin-bottom: 3rem; 
}

.event__table {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.tablerow {
    display: flex;
}

.table__head .tablerow {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #464343;
    background-color: #FF9E81;
    margin-bottom: 2rem;
}

.table__head .tablerow th:first-child {
    margin-right: auto;
}

.table__head .tablerow th:nth-child(2) {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 400;
}

.table__head .tablerow th:last-child {
    margin-left: 7rem;
}

@media screen and (max-width: 800px) {
    .table__head .tablerow th:first-child span {
        display: none;
    }

    .table__head .tablerow th:nth-child(2) {
        display: none;
    }
}

.table__body .tablerow {
    justify-content: space-between;
    background: #FFFFFFF2;
    margin: 1rem 1.5rem;
    padding: 1rem 2rem;
}

.table__body .tablerow td {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.event__sponsor {
    margin-top: 10rem;
    color: #464343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event__sponsor h3 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
    .event__sponsor h3 {
        font-size: 3rem;
    }
}

.event__sponsor img {
    text-align: center;
    width: 28rem;
    height: 13.4rem;
    margin-bottom: 4rem;
}

.event__sponsor a {
    text-decoration: none;
    color: inherit;
    background: #FCD884;
    border-radius: .8rem;
    padding: 1rem 3rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
}