:root {
    --base-font-size: 62.5%; /* Equivalent to 10px for easy rem scaling */
}

@media screen and (max-width: 1200px) {
    :root {
        --base-font-size: 60%; /* Adjust base font size for smaller screens */
    }
}

@media screen and (max-width: 750px) {
    :root {
        --base-font-size: 55%;
    }
}